{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "Constants": "./app/src/constants",
          "Components": "./app/src/components",
          "Core": "./app/src/core",
          "Pages": "./app/src/pages",
          "Redux": "./app/src/redux",
          "I18n": "./app/localization"
        }
      },
      "@babel/plugin-syntax-dynamic-import"
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": {
          "version": "3.13.0"
        }
      }
    ],
    "@babel/preset-react",
    [
      "@babel/preset-typescript",
      {
        "allowDeclareFields": true
      }
    ]
  ]
}