[submodule "autobetlib/external/CppJsLib"]
	path = autobetlib/external/CppJsLib
	url = https://github.com/MarkusJx/CppJsLib
[submodule "autobetlib/external/csv"]
	path = autobetlib/external/csv
	url = https://github.com/MarkusJx/csv
