body {
    width: max-content;
    max-width: calc(100vw - 32px);
    margin: 0 auto;
    padding: 16px;
    overflow-x: hidden;
}

.noselect {
    -ms-overflow-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#heading {
    font-family: 'Open Sans light', sans-serif;
    margin: 15px auto;
    width: max-content;
}

#error-message-heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

#error-message {
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(27, 31, 35, 0.07);
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    font-family: 'Open Sans light', sans-serif;
    max-width: max-content;
    color: #24292e;
}

#error-info {
    font-family: 'Open Sans', sans-serif;
    color: #3a3f44;
}