body {
    background-color: hsl(0, 0%, 7%)
}

#updating {
    color: rgb(207, 207, 207);
    margin: 20px auto 10px auto;
    font-size: 1.5em;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    text-align: center
}

#updating-info {
    font-size: 1em;
    font-weight: normal;
    margin: 20px auto auto auto;
    font-family: Roboto, sans-serif;
    color: rgb(121, 121, 121);
    text-align: center
}

#spinner {
    margin: auto;
    display: block
}

:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}