.container {
    justify-self: center;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    height: 140px;

    .runningOnText {
        font-size: 1em;
        font-weight: normal;
        grid-column: 2;
        grid-row: 1;
        margin: 12px auto 0 auto;
    }

    .openWebButton {
        font-size: 1em;
        font-weight: normal;
        grid-column: 2;
        grid-row: 1;
        text-transform: lowercase;
        margin: auto auto 0 auto;
        padding: 0 5px;
        color: rgb(207, 207, 207);
    }

    .enableDisableText {
        font-size: 1em;
        font-weight: normal;
        grid-column: 1;
        grid-row: 1;
        margin: 12px auto 0 auto;
    }

    .enableDisableSwitch {
        grid-column: 1;
        grid-row: 1;
        margin: 30px auto 0 auto;
    }

    .showQRCodeButton {
        grid-column: 2;
        grid-row: 1;
        justify-self: center;
        align-self: center;
        //color: rgb(207, 207, 207);
    }
}

@media only screen and (min-width: 860px) {
    .container {
        grid-column: 1 / 3;
        margin: 0 30px;
        width: calc(100% - 60px);
        height: 70px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;

        .openWebButton {
            margin: auto auto 5px auto;
        }
    }
}