#grid {
    margin: 0 auto;
    grid-template-columns: auto auto;
    grid-template-rows: auto
}

#Container {
    width: 100%;
    overflow: hidden;
    clear: both;
    grid-column: 1;
    grid-row: 1
}

#startstop {
    --mdc-theme-primary: #e46e00;
    --mdc-theme-on-primary: #191919;
    font-weight: 500;
    left: 50%;
    margin-left: -50px;
    margin-top: 30px;
    margin-bottom: 20px;
    grid-row: 1;
    grid-column: 2
}

.subcontainer {
    width: 90%;
    max-width: 310px;
    min-width: 310px;
    height: 150px;
    background: #1b1b1b;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin: 10px 10px 10px 10px;
    display: block;
    float: left
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .subcontainer {
        margin: 0 auto;
        margin-top: 20px;
        float: none;
        width: 95%;
        max-width: 400px;
        display: flex
    }
}

.subcontainer:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.text {
    font-family: Roboto, sans-serif;
}

.maintext {
    font-size: 3.5em;
    font-weight: normal;
    margin: 10px auto auto auto;
    white-space: nowrap;
}

#statusinfo {
    text-align: left;
}

.subheading {
    text-align: left;
    margin: 10px auto auto auto;
    font-size: 1.25em;
    font-weight: normal;
    color: rgb(121, 121, 121);
    white-space: nowrap;
}

.textalign {
    height: 100%;
    width: min-content;
    margin-left: 10%;
}

.status_running {
    color: #40d158
}

.status_stopped {
    color: rgb(201, 37, 37);
}

#errordialogbutton {
    --mdc-theme-primary: #e46e00;
    color: #e46e00;
}

.mdc-button--raised:disabled {
    background-color: #191919;
    color: rgb(121, 121, 121);
}

.maintext-maincolor {
    color: rgb(207, 207, 207)
}

#moneythishour {
    white-space: nowrap;
}
