<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="preload.css" rel="stylesheet">
</head>
<body>
    <div class="title-bar"></div>

    <div id="content-root">

    </div>

    <%= htmlWebpackPlugin.tags.bodyTags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
</body>
</html>