html {
    /* scrollbar-width: none; */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
    -ms-overflow-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* TODO: Uncomment this */
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

/* Make the body scrollable */

body.scrollable {
    overflow-y: auto;
}

/* Hide the scrollbar on webkit */

body::-webkit-scrollbar {
    display: none;
}

/* Set the background color and attributes */

#background {
    background: linear-gradient(115deg, rgba(62, 0, 119, 0.85), rgba(154, 0, 201, 0.85), rgba(0, 60, 255, 0.85), rgba(0, 183, 255, 0.85));
    opacity: 0;
    z-index: -9999;
    height: 100%;
    width: 100%;
    position: fixed;
}

#features-heading {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Open Sans', Roboto, sans-serif;
    font-weight: 400;
    backdrop-filter: blur(20px);
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0;
}

/* Set the welcome screen height and width */

#begin-screen {
    height: 100%;
    width: 100%;
}

/* The welcome text container */

#welcome-container {
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    font-family: 'Open Sans light', sans-serif;
    font-size: 23px;
    width: 266px;
    height: 96px;
    margin-left: -133px;
    margin-top: -48px;
}

/* The welcome text word elements */

.welcome-text-font {
    opacity: 0;
    margin-left: -5px;
}

/* Fade in the welcome text words one by one */

.welcome-text-font.faded-in {
    animation-name: fade-in-welcome-text;
    animation-duration: .5s;
    opacity: 1;
    margin-left: 0;
}

@keyframes fade-in-welcome-text {
    from {
        opacity: 0;
        margin-left: -5px;
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
}

/* A paragraph in the welcome text */

.welcome-paragraph {
    margin: auto;
}

#welcome-first-paragraph {
    width: 176.2px;
}

/* Set the 'Grand Theft Auto Online' text to semi-bold */

#welcome-GTA-paragraph {
    font-family: 'Open Sans semi-Bold', sans-serif;
    width: 250.2px;
}

#welcome-third-paragraph {
    width: 114px;
}

/* Set the 'Online' text color to red */

#GTA-Online-font {
    color: red;
}

/* Set the 'easy' text to bold-ish */

#welcome-text-easy {
    font-family: 'Open Sans', sans-serif;
}

/* The owner-name repo-name container on the welcome screen */

#welcome-repo-name-container {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 25px;
    height: 30px;
    width: 248px;
    top: 100%;
    left: 50%;
    margin: -40px auto 0 -124px;
    position: absolute;
    opacity: 0;
}

/* Fade in the owner-name repo-name container */

#welcome-repo-name-container.faded-in {
    opacity: 1;
    margin-top: -75px;
    animation: fade-in-welcom-repo-name .5s;
    text-decoration: none;
}

/* The keyframes to fade in the container */

@keyframes fade-in-welcom-repo-name {
    from {
        margin-top: -40px;
        opacity: 0;
    }
    to {
        opacity: 1;
        margin-top: -75px;
    }
}

/* The 'MarkusJx' text on the welcome screen */

#repo-name-owner {
    font-weight: 200;
}

/* The 'autobet' text on the welcome screen */

#repo-name-name {
    font-weight: 500;
}

/* The github icon on the welcome screen */

#welcome-repo-gh-icon {
    width: 25px;
    margin: auto;
}

/* The 'down' arrow */

.arrow-down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#arrow-scroll-down {
    top: 100%;
    left: 50%;
    position: absolute;
    width: 18px;
    height: 18px;
    opacity: 0;
    margin: 0 0 0 -8px;
}

/* Fade in the 'scroll down' arrow */

#arrow-scroll-down.faded-in {
    margin: -42px 0 0 -8px;
    opacity: 1;
    animation: arrow-scroll-down-fade-in .5s;
}

/* Animate the 'scroll down' arraw */

#arrow-scroll-down.animated {
    animation: arrow-scroll-down-animate 2s ease-in-out 0s infinite;
}

@keyframes arrow-scroll-down-fade-in {
    from {
        margin: 0 0 0 -8px;
        opacity: 0;
    }
    to {
        margin: -42px 0 0 -8px;
        opacity: 1;
    }
}

@keyframes arrow-scroll-down-animate {
    0% {
        margin-top: -42px;
        opacity: 1;
    }
    70% {
        margin-top: -21px;
        opacity: 0;
    }
    75% {
        margin-top: -42px;
        opacity: 0;
    }
    100% {
        margin-top: -42px;
        opacity: 1;
    }
}

/* The main contents ========================================================== */

/* Set the main screen height and width */

#main-screen {
    width: 100%;
    min-height: 100vh;
    margin: 80px auto auto auto;
    transition: all ease-in-out .5s;
}

.image {
    height: 100%;
    width: 100%;
    transition: transform .5s;
}

.image:hover {
    transform: scale(1.025);
}

#image-code {
    background: url("img/code.webp");
    background-position-y: -66px;
    background-position-x: 85px;
}

#image-stats {
    background: url("img/stats.webp") no-repeat;
    background-position-y: -25px;
}

#image-web {
    background: url("img/web.webp") no-repeat;
    background-size: cover;
}

#image-controller {
    background: url("img/controller.webp") no-repeat;
    background-position-y: -80px;
    background-position-x: -100px;
}

#image-options {
    background: url("img/options.webp") no-repeat;
    background-position-y: -75px;
    background-position-x: -55px;
}

#image-editor {
    background: url("img/editor.webp") no-repeat;
    background-position-y: -72px;
}

.link {
    color: #1c1c1c;
    text-decoration: none;
    border-bottom: 1px dotted #1c1c1c;
}

.divide-triangle {
    background-color: white;
    transform: skew(-30deg, 0deg);
}

.text-container {
    background-color: white;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
}

.heading {
    width: max-content;
    color: #222;
    border-bottom: 1px solid #222;
    padding-bottom: 3px;
    margin: auto;
}

.text-container:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: white;
}

.container.right .text-container:after {
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

.container.left .text-container:after {
    transform-origin: bottom left;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.container.dark .text-container {
    background-color: #1b1b1b;
    color: white;
}

.container.dark .text-container .heading {
    color: white;
    border-bottom-color: white;
}

.container.dark .text-container:after {
    background-color: #1b1b1b;
}

.container {
    width: 100%;
    height: max-content;
    min-height: 225px;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .3);
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: black;
    display: grid;
    grid-auto-flow: column;
}

.container.dark {
    color: white;
}

.container.right {
    grid-template-columns: 35% 65%;
}

.container.left {
    grid-template-columns: 65% 35%;
}

.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .3);
    /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
    filter: blur(20px);
    margin: -20px;
}

.subcontainer {
    width: 480px;
    height: 20rem;
    border-radius: 14px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    /* margin: 30px; */
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: black;
    padding: 0 15px 15px 15px;
    text-align: center;
}

.subcontainer:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .3);
    /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
    filter: blur(20px);
    margin: -20px;
}

.container-top-bar {
    width: 100%;
    height: 30px;
    background-color: #000000de;
    display: flex;
    align-content: baseline;
    flex-direction: row;
}

.top-bar-icons {
    width: 54px;
    height: 100%;
    display: flex;
    align-content: baseline;
    flex-direction: row;
    margin-left: 15px;
}

.top-bar-icon {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 9px 3px;
    background-color: gray;
}

.container-top-bar.active .top-bar-icons .top-bar-icon.close {
    background-color: #f01010;
}

.container-top-bar.active .top-bar-icons .top-bar-icon.minimize {
    background-color: #dbdb1a;
}

.container-top-bar.active .top-bar-icons .top-bar-icon.maximize {
    background-color: #18d018;
}

.top-bar-title {
    font-family: 'Open Sans', sans-serif;
    color: #ececec;
    /* ecececececececececece */
    text-align: left;
    height: min-content;
    margin: auto auto auto auto;
    padding-right: 69px;
    /* Nice */
    font-size: 20px;
}

/* @media only screen and (max-width: 1100px) {
    #main-screen {
        width: min-content;
    }
} */

#features-container {
    max-width: 1020px;
    width: 100vw;
}

#definition-container {
    max-width: 1020px;
    width: 100vw;
}

#what-it-is-container {
    width: calc(100% - 50px);
    height: max-content;
}

.subcontainer-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 5px auto;
    text-align: center;
}

#what-it-is {
    background: linear-gradient(90deg, #0111ff, #009168);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Wrap some text nicely */

.text-wrapper {
    width: calc(100% - 40px);
    height: max-content;
    margin: 20px;
    text-align: center;
}

/* Wrap a 'sticky-content' element */

.sticky-wrapper {
    position: relative;
    height: 140vh;
}

/* Make some content stick to its place */

.sticky-content {
    position: sticky;
    top: 0;
    height: 100vh;
}

/* A subcontainer in a container which is actually a heading */

.subcontainer.heading {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: max-content;
    width: 100%;
    margin: 0 0 5px 0;
    padding: 5px 0;
    color: #222;
}

.multiple-fade-headings {
    color: white;
    font-family: 'Open Sans', sans-serif;
    top: 50%;
    text-align: center;
    position: relative;
    margin: auto;
    width: auto;
}

#how-and-why {
    position: absolute;
    width: 100%;
    transition: opacity ease-in-out .25s;
}

#how-and-why.hovered {
    opacity: 0;
}

#asking-the-right-questions {
    position: absolute;
    width: 100%;
    opacity: 0;
    font-weight: 300;
    transition: opacity ease-in-out .25s;
}

#asking-the-right-questions.hovered {
    opacity: 1;
}

#how-and-why-container {
    top: calc(50% - 43px);
}

#ui-page {
    width: 100vw;
    height: max-content;
    /* background-color: #f3f3f3; */
}

#ui-image {
    background: url('ui.webp');
    height: 80vh;
    margin-left: 5%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -2;
    position: relative;
}

#ui-text {
    /* background-color: #f3f3f3;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .3);
    border-radius: 14px; */
    width: 50vw;
    height: 300px;
    left: 45vw;
    top: -40vh;
    position: relative;
    /* position: fixed; */
}

/* Footer ===================================================================== */

#footer {
    height: 40px;
    background-color: black;
}