html {
    /* scrollbar-width: none; */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
    -ms-overflow-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* TODO: Uncomment this */
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

/* Make the body scrollable */

body.scrollable {
    overflow-y: auto;
}

/* Hide the scrollbar on webkit */

body::-webkit-scrollbar {
    display: none;
}

/* Set the background color and attributes */

#background {
    background: linear-gradient(115deg, rgba(62, 0, 119, 0.85), rgba(154, 0, 201, 0.85), rgba(0, 60, 255, 0.85), rgba(0, 183, 255, 0.85));
    opacity: 0;
    z-index: -9999;
    height: 100%;
    width: 100%;
    position: fixed;
}

.main-heading-divider {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Open Sans', Roboto, sans-serif;
    font-weight: 400;
    backdrop-filter: blur(20px);
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0;
}

/* Set the welcome screen height and width */

#begin-screen {
    height: 100%;
    width: 100%;
}

/* The welcome text container */

#welcome-container {
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    font-family: 'Open Sans light', sans-serif;
    font-size: 23px;
    width: 266px;
    height: 96px;
    margin-left: -133px;
    margin-top: -48px;
}

/* The welcome text word elements */

.welcome-text-font {
    opacity: 0;
    margin-left: -5px;
}

/* Fade in the welcome text words one by one */

.welcome-text-font.faded-in {
    animation-name: fade-in-welcome-text;
    animation-duration: .5s;
    opacity: 1;
    margin-left: 0;
}

@keyframes fade-in-welcome-text {
    from {
        opacity: 0;
        margin-left: -5px;
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
}

/* A paragraph in the welcome text */

.welcome-paragraph {
    margin: auto;
}

#welcome-first-paragraph {
    width: 176px;
}

/* Set the 'Grand Theft Auto Online' text to semi-bold */

#welcome-GTA-paragraph {
    font-family: 'Open Sans semi-Bold', sans-serif;
    width: 250px;
}

#welcome-third-paragraph {
    width: 114px;
}

/* Set the 'Online' text color to red */

#GTA-Online-font {
    color: red;
}

/* Set the 'easy' text to bold-ish */

#welcome-text-easy {
    font-family: 'Open Sans', sans-serif;
}

/* The owner-name repo-name container on the welcome screen */

#welcome-repo-name-container {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 25px;
    height: 30px;
    width: 248px;
    top: 100%;
    left: 50%;
    margin: -40px auto 0 -124px;
    position: absolute;
    opacity: 0;
}

/* Fade in the owner-name repo-name container */

#welcome-repo-name-container.faded-in {
    opacity: 1;
    margin-top: -75px;
    animation: fade-in-welcome-repo-name .5s;
    text-decoration: none;
}

/* The keyframes to fade in the container */

@keyframes fade-in-welcome-repo-name {
    from {
        margin-top: -40px;
        opacity: 0;
    }
    to {
        opacity: 1;
        margin-top: -75px;
    }
}

/* The 'MarkusJx' text on the welcome screen */

#repo-name-owner {
    font-weight: 200;
}

/* The 'autobet' text on the welcome screen */

#repo-name-name {
    font-weight: 500;
}

/* The github icon on the welcome screen */

#welcome-repo-gh-icon {
    width: 25px;
    margin: auto;
}

/* The 'down' arrow */

.arrow-down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#arrow-scroll-down {
    top: 100%;
    left: 50%;
    position: absolute;
    width: 18px;
    height: 18px;
    opacity: 0;
    margin: 0 0 0 -8px;
}

/* Fade in the 'scroll down' arrow */

#arrow-scroll-down.faded-in {
    margin: -42px 0 0 -8px;
    opacity: 1;
    animation: arrow-scroll-down-fade-in .5s;
}

/* Animate the 'scroll down' arrow */

#arrow-scroll-down.animated {
    animation: arrow-scroll-down-animate 2s ease-in-out 0s infinite;
}

@keyframes arrow-scroll-down-fade-in {
    from {
        margin: 0 0 0 -8px;
        opacity: 0;
    }
    to {
        margin: -42px 0 0 -8px;
        opacity: 1;
    }
}

@keyframes arrow-scroll-down-animate {
    0% {
        margin-top: -42px;
        opacity: 1;
    }
    70% {
        margin-top: -21px;
        opacity: 0;
    }
    75% {
        margin-top: -42px;
        opacity: 0;
    }
    100% {
        margin-top: -42px;
        opacity: 1;
    }
}

/* The main contents ========================================================== */

/* Set the main screen height and width */

#main-screen {
    width: 100%;
    min-height: 100vh;
    margin: 80px auto auto auto;
    transition: all ease-in-out .5s;
}

.image {
    height: 100%;
    width: 100%;
    transition: transform .5s;
}

.image:hover {
    transform: scale(1.025);
}

#image-code {
    background: url("img/code.webp");
    background-position-y: -66px;
    background-position-x: 85px;
}

#image-stats {
    background: url("img/stats.webp") no-repeat;
    background-size: cover;
}

#image-web {
    background: url("img/web.webp") no-repeat;
    background-size: cover;
}

#image-controller {
    background: url("img/controller.webp") no-repeat;
    background-position-y: -80px;
    background-position-x: -100px;
}

#image-options {
    background: url("img/options.webp") no-repeat;
    background-position-y: -75px;
    background-position-x: -55px;
}

#image-editor {
    background: url("img/editor.webp") white no-repeat;
    background-position-y: -72px;
}

.link {
    color: #1c1c1c;
    text-decoration: none;
    border-bottom: 1px dotted #1c1c1c;
}

.container.dark .link {
    color: #e2e2e2;
    border-bottom-color: #e2e2e2;
}

.divide-triangle {
    background-color: white;
    transform: skew(-30deg, 0deg);
}

.text-container {
    background-color: white;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
}

.heading {
    width: max-content;
    color: #222;
    border-bottom: 1px solid #222;
    padding-bottom: 3px;
    margin: auto;
    font-size: 1.5em;
    word-break: break-word;
    text-align: center;
}

.text-container:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: white;
}

.container.right .text-container:after {
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

.container.left .text-container:after {
    transform-origin: bottom left;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.container.dark .text-container {
    background-color: #1b1b1b;
    color: white;
}

.container.dark .text-container .heading {
    color: white;
    border-bottom-color: white;
}

.container.dark .text-container:after {
    background-color: #1b1b1b;
}

.container {
    width: 100%;
    height: max-content;
    min-height: 225px;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .3);
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: black;
    display: grid;
    grid-auto-flow: column;
}

.container p {
    font-size: 1.1em;
}

.container.dark {
    color: white;
}

.container.right {
    grid-template-columns: 35% 65%;
}

.container.left {
    grid-template-columns: 65% 35%;
}

.container:before {
    content: "";
    position: absolute;
    /*background: inherit;*/
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .2);
    /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
    filter: blur(20px);
    margin: -20px;
}

/* Wrap some text nicely */

.text-wrapper {
    width: calc(100% - 40px);
    height: max-content;
    margin: 20px;
    text-align: center;
}

/* Wrap a 'sticky-content' element */

.sticky-wrapper {
    position: relative;
    height: 140vh;
}

/* Make some content stick to its place */

.sticky-content {
    position: sticky;
    top: 0;
    height: 100vh;
}

#main-download-container {
    display: grid;
    grid-auto-flow: unset;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    color: white;
    width: max-content;
    margin: auto;
    padding: 25px;
    text-align: center;
    --mdc-theme-primary: white;
    row-gap: 20px;
}

#main-download-container .mdc-button--outlined:disabled {
    border-color: rgba(255, 255, 255, 0.78);
    color: rgba(255, 255, 255, 0.78);
}

#get-the-latest-version {
    display: grid;
    grid-column: 1/3;
    grid-row: 1;
    grid-auto-flow: column;
    width: max-content;
    margin: auto;
    grid-column-gap: 10px;
    border-bottom: white solid 1px;
}

#get-the-latest-version .heading {
    color: white;
    border-bottom: none;
}

#download-icon {
    margin: auto;
}

#release-download-container {
    border-right: white solid 1px;
}

.download-option-container {
    padding: 0 20px;
}

.download-actions-bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content max-content;
    grid-column-gap: 30px;
    margin: auto;
    width: max-content;
}

.download-latest {
    margin-top: 0;
}

#devel-download-container .download-actions-bar {
    grid-template-columns: max-content;
}

#download-now {
    --mdc-theme-primary: white;
}

/* Footer ===================================================================== */

#footer {
    padding: 10px 0;
    background-color: black;
    display: grid;
    grid-auto-flow: column;
}

.footer-icon {
    height: 26px;
    margin: auto;
}

.footer-icon.material-icons {
    font-size: 28px;
    color: white;
    height: max-content;
    width: max-content;
}

.footer-icon-grid {
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 26px max-content;
    text-decoration: none;
    cursor: pointer;
}

.footer-text {
    margin: auto 0 auto 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

#copyright-icon {
    font-size: 21px;
    margin: auto 0 auto auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

@media only screen and (max-width: 950px) {
    .text-container:after {
        content: unset;
    }

    .image {
        display: none;
    }

    .container.left {
        grid-template-columns: 100% 0;
    }

    .container.right {
        grid-template-columns: 100% 0;
    }

    #footer {
        grid-auto-flow: row;
        row-gap: 10px;
    }

    #main-download-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        width: 100%;
        padding: 25px 0;
    }

    #get-the-latest-version {
        grid-column: 1;
    }

    .download-option-container {
        padding: 0;
    }

    #release-download-container {
        border-right: none;
        border-bottom: white solid 1px;
        margin: auto;
        padding-bottom: 20px;
    }

    .download-actions-bar {
        grid-auto-flow: row;
        grid-template-columns: max-content;
        grid-template-rows: max-content max-content;
        row-gap: 20px;
    }

    .heading {
        width: auto;
    }
}