/* Stylesheet
Custom poperties:
--main-background-color
--container-background-color
--desc-text-color
--heading-color
*/


/* Hide scrollbar on Firefox */

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none;
    width: 100%;
}

body.darktheme {
    --main-background-color: #141414;
    --container-background-color: #212121;
    --desc-text-color: lightgrey;
    --heading-color: white;
}

body::-webkit-scrollbar {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#change-theme {
    border-radius: 50%;
    right: 15px;
    bottom: -60px;
    z-index: 999;
    position: fixed;
    background: linear-gradient(90deg, #257bf9, #00d0ff);
    height: 50px;
    width: 50px;
    transition: all .3s ease-in-out;
}

#change-theme.shown {
    bottom: 15px;
    animation-name: show-change-theme;
    animation-duration: .3s;
}

@keyframes show-change-theme {
    0% {
        bottom: -60px;
    }
    100% {
        bottom: 15px;
    }
}

#theme-change-icon {
    font-size: 35px;
    margin: 7.5;
    transition: all .3s ease-in-out;
}

#theme-change-icon.darktheme {
    color: white;
}

#change-theme.darktheme {
    background: linear-gradient(90deg, #00a1ff, #002eff);
}

#main-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: rgb(227, 227, 227);
    display: block;
    text-align: center;
    z-index: 4;
    margin: auto;
    height: min-content;
    grid-row: 1;
    grid-column: 1;
    margin-top: 28px;
    transition: all .5s ease-in-out;
}

#download-button {
    z-index: 4;
    --mdc-theme-primary: #fc3b3b;
    display: block;
    opacity: 0;
    grid-row: 2;
    grid-column: 1;
    width: min-content;
    margin: auto;
    margin-top: 0px;
    transition: all .5s ease-in-out;
}

#download-button.scrolled {
    opacity: 1;
    margin-top: 16px;
}

#heading-download-container {
    width: 400px;
    height: 100px;
    z-index: 3;
    position: absolute;
    display: grid;
    grid-template-rows: 75px 25px;
    grid-template-columns: 100%;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -200px;
    transition: all .5s ease-in-out;
}

#heading-download-container.scrolled {
    height: 150px;
    margin-top: -75px;
    grid-template-rows: 75px 75px;
}

#heading-download-background {
    grid-row: 1 / 3;
    grid-column: 1;
    width: 100%;
    height: 100px;
    background-color: #1a1a1a;
    opacity: .5;
    border-radius: 6px;
    transition: all .5s ease-in-out;
}

#heading-download-background.scrolled {
    height: 150px;
}

#main-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh auto;
}

#header-background {
    background-image: url('20190803152458_1.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
    background-position-y: -50px;
    height: 120%;
    margin-left: -70px;
    margin-top: -70px;
    z-index: -1;
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#header-container {
    height: 100%;
    width: 100%;
    grid-row: 1;
    grid-column: 1;
}

#desc-container {
    grid-row: 2;
    grid-column: 1;
    background-color: var(--main-background-color, rgb(238, 238, 238));
    width: 100%;
    z-index: 1;
    transition: all .2s ease-in-out;
}

.container {
    width: 90%;
    max-width: 310px;
    min-width: 310px;
    height: auto;
    background: var(--container-background-color, white);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin: 10px 0 10px 0;
    display: block;
}

.smallcontainer {
    max-width: unset;
    width: 100%;
}

.container:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.desc-text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    color: var(--desc-text-color, #747474);
    padding-bottom: 8px;
    margin-top: 10px;
    transition: all .3s ease-in-out;
}

li.desc-text {
    margin: 0;
    padding: 0;
    text-align: left;
    margin-right: 20px;
    margin-top: 0;
}

.code-background {
    border-radius: 3px;
    padding: 0 0.4em;
    background-color: rgba(27, 31, 35, 0.1);
}

.code-background.darktheme {
    background-color: #4b4b4b;
}

#goto-issues {
    margin: 0 auto 20px calc(50% - 115px);
    --mdc-theme-primary: #0072ff;
}

#betting-img {
    margin: 5px 4%;
    width: 92%;
}

#break {
    height: 3px;
    background: linear-gradient(90deg, #25f9c4, #2426ca);
}

#main-desc-container {
    max-width: 1000px;
    min-height: 160px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    background: linear-gradient(90deg, #257bf9, #2426ca);
}

#what-it-is {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    padding-top: 10px;
    margin-bottom: 15px;
}

#main-desc-text {
    color: rgb(240, 240, 240);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
}

#more-desc-container {
    z-index: 2;
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto;
    column-gap: 2%;
}

.heading-important {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: #3c78ff;
    margin-top: 10px;
    margin-bottom: 0px;
}

.heading {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: var(--heading-color, black);
    margin-top: 10px;
    margin-bottom: 0px;
}

#ui-grid {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
}

#ui-png {
    width: 98%;
    margin: 0 auto 10px 2%;
}

@media only screen and (max-width: 768px) {
    #ui-grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    #ui-png {
        max-height: 500px;
        max-width: 96%;
        width: unset;
        grid-row: 2;
        margin: -5px auto 10px auto;
    }
}

#license-dialog-surface {
    max-width: 1000px;
    width: 90%;
    height: 80vh;
}

#demo-video-container-container {
    width: 90%;
    /*height: 90%;*/
    margin: auto;
    padding: 20px 0;
}

#demo-video-container {
    position: relative;
    padding-bottom: 56.25%;
}

#demo-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Footer */

#footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-icon {
    height: 26px;
}

.footer-icon.material-icons {
    font-size: 28px;
    color: white;
    height: max-content;
    width: max-content;
    margin: 0 auto;
}

.footer-icon-grid {
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 26px max-content;
    text-decoration: none;
    cursor: pointer;
}

.footer-text {
    margin: auto 0 auto 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

#copyright-icon {
    font-size: 21px;
    margin: auto 0 auto auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}


/* Download not supported */

#download-container {
    background-color: var(--main-background-color, rgb(238, 238, 238));
    transition: all .2s ease-in-out;
}

#main-download-container {
    max-width: 1000px;
    min-height: 160px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-bottom: 25px;
}

#main-download-container-unsupported {
    max-width: 1000px;
    min-height: 160px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    background: linear-gradient(90deg, #ff3434, #fb1a1a);
    visibility: hidden;
    position: absolute;
    margin-bottom: 25px;
    display: none;
}

#unsupported-heading-grid {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-rows: auto;
    margin: 0 auto;
    padding-top: 5px;
    width: max-content;
    max-width: 100%;
}

#warning-icon {
    font-size: 33px;
    margin-top: auto;
    margin-bottom: auto;
    grid-column: 1;
    margin-right: 5px;
    color: white;
}

#not-available-heading {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-top: 15px;
    grid-column: 2;
    width: max-content;
    max-width: 100%;
}

#unsupported-text {
    color: rgb(240, 240, 240);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}

#unsupported-actions-bar {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 10px;
    padding-bottom: 10px;
}

#goto-gh-issues {
    grid-column: 1;
    --mdc-theme-primary: white;
    width: max-content;
    margin-left: auto;
    margin-right: 15px;
}

#goto-downloads-unsupported {
    grid-column: 2;
    --mdc-theme-primary: #c5c5c5;
    width: max-content;
    margin-right: auto;
    margin-left: 15px;
}


/* Download */

#download-icon {
    font-size: 33px;
    margin-top: auto;
    margin-bottom: auto;
    grid-column: 1;
    margin-right: 5px;
    color: var(--heading-color, black);
}

#download-latest {
    color: var(--heading-color, black);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-top: 15px;
    grid-column: 2;
    width: max-content;
}

#lv-paragraph {
    color: var(--heading-color, black);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: -10px 0 0 0;
}

#latest-version {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #22de00;
}

#download-actions-bar {
    display: grid;
    grid-template-columns: max-content max-content;
    width: max-content;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#download-now {
    grid-column: 1;
    --mdc-theme-primary: #00c324;
    width: max-content;
    margin-left: auto;
    margin-right: 15px;
}

#show-tag {
    grid-column: 2;
    --mdc-theme-primary: var(--heading-color, black);
    width: max-content;
    margin-right: auto;
    margin-left: 15px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #heading-download-container {
        width: 90%;
        left: 50%;
        margin-left: calc(90% *0.5 * (-1));
    }
    #header-background {
        width: auto;
    }
    .smallcontainer {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        max-width: unset;
    }
    .container:hover {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    #more-desc-container {
        display: block;
    }
    #unsupported-heading-grid {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    #warning-icon {
        margin: 0 auto;
        font-size: 26px;
    }
    #not-available-heading {
        grid-column: 1;
        grid-row: 2;
        margin: 0 auto;
        font-size: 18px;
    }
    #unsupported-actions-bar {
        grid-template-columns: auto;
        grid-template-rows: min-content min-content;
    }
    #goto-gh-issues {
        margin: 0 auto;
    }
    #goto-downloads-unsupported {
        grid-column: 1;
        grid-row: 2;
        margin: 10px auto 0 auto;
    }
    /* Download */
    #download-actions-bar {
        grid-template-columns: auto;
        grid-template-rows: min-content min-content;
    }
    #download-now {
        margin: 0 auto;
    }
    #show-tag {
        grid-column: 1;
        grid-row: 2;
        margin: 10px auto 0 auto;
    }
    #footer {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        row-gap: 5px;
    }
}
