body {
    background-color: #121212
}

.subcontainer {
    width: 90%;
    max-width: 310px;
    height: 150px;
    background: #191919;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.left {
    margin-left: 10px;
}

.right {
    margin-right: 10px;
    margin-left: auto;
}

.subcontainer:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.text {
    font-family: Roboto, sans-serif;
}

.maintext {
    font-size: 3em;
    font-weight: normal;
    margin: 5px auto auto auto;
    white-space: nowrap;
}

#Container {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content;
    grid-row-gap: 20px
}

#status {
    grid-row: 1;
    grid-column: 1;
}

#statusinfo {
    text-align: left;
}

.subheading {
    text-align: left;
    margin: 10px auto auto auto;
    font-size: 1em;
    font-weight: normal;
    color: rgb(121, 121, 121);
    white-space: nowrap;
}

.textalign {
    height: 100%;
    width: min-content;
    margin-left: 10%;
}

.status_running {
    color: #40d158
}

.status_stopped {
    color: rgb(201, 37, 37);
}

#errordialogbutton {
    --mdc-theme-primary: #e46e00;
    color: #e46e00;
}

#startstop {
    --mdc-theme-primary: #e46e00;
    --mdc-theme-on-primary: #191919;
    font-weight: 500;
    grid-row: 5;
    grid-column: 1 / 3;
    margin: auto
}

.mdc-button--raised:disabled {
    background-color: #191919;
    color: rgb(121, 121, 121);
}

#timecontainer {
    grid-row: 1;
    grid-column: 2;
}

.maintext-maincolor {
    color: rgb(207, 207, 207)
}

#moneythishourcontainer {
    grid-row: 2;
    grid-column: 1;
}

#moneythishour {
    white-space: nowrap;
}

#moneyallcontainer {
    grid-row: 2;
    grid-column: 2;
}

#messagecontainer {
    position: fixed;
    z-index: 2;
    width: 430px;
    height: 100px;
    background: #292929;
    border-radius: 5px;
    left: 50%;
    top: 30%;
    margin-left: -215px;
    margin-top: -50px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content;
}

#progressbar {
    --mdc-theme-primary: #e46e00;
    grid-row: 1;
    grid-column: 1;
    border-radius: 5px 5px 0px 0px;
}

#progressbuffer {
    background-color: #4f4f4f;
}

#stoptext {
    font-size: 1.5em;
    font-weight: normal;
    grid-column: 1;
    grid-row: 2;
    margin-left: 10px;
    margin-bottom: 0px;
    text-align: left
}

#quitinfo {
    font-size: 1em;
    grid-column: 1;
    grid-row: 3;
    margin-left: 10px;
    text-align: left;
    font-weight: normal;
    color: rgb(121, 121, 121)
}

#frosted-glass {
    z-index: 1;
    width: 100%;
    height: 500px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.frosted-glass-blur {
    animation: blur 1.0s forwards;
}

.frosted-glass-unblur {
    animation: blur 1.0s backwards;
}

@keyframes blur {
    from {
        filter: blur(0px);
    }
    to {
        filter: blur(7px);
    }
}

.invisible {
    visibility: hidden;
}

#loadingcontainer {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content;
    grid-row-gap: 20px
}

#loadingtext {
    font-size: 1.5em;
    font-weight: normal;
    color: rgb(207, 207, 207);
    font-family: Roboto, sans-serif;
    text-align: center;
    grid-row: 1;
    grid-column: 1
}

#game {
    position: relative;
    left: 50%;
    margin-left: -200px;
    border: 1.5px solid white;
    grid-row: 2;
    grid-column: 1
}

#continue {
    --mdc-theme-primary: #e46e00;
    --mdc-theme-on-primary: #191919;
    font-weight: 500;
    margin: auto;
    grid-row: 3;
    grid-column: 1
}